<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="save(form)" method="post">

    <ion-item>
      <ion-label>Bus Number:</ion-label>
      <ion-input [(ngModel)]="tracking.number" placeholder="Bus Number" type="text" name="number" maxlength="6" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Latitude:</ion-label>
      <ion-input [(ngModel)]="tracking.latitude" type="text" name="latitude" readonly>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Longitude:</ion-label>
      <ion-input [(ngModel)]="tracking.longitude" type="text" name="longitude" readonly>
      </ion-input>
    </ion-item>


    <ion-row class="ion-text-center">
      <ion-col col-6>
        <ion-button expand="full" [disabled]="!form.valid" type="submit" color="success">Save</ion-button>
      </ion-col>

      <ion-col col-6>
        <ion-button expand="full" color="danger" [routerLink]="['/tracking']">Cancel</ion-button>
      </ion-col>

    </ion-row>

  </form>

</ion-content>