<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tracking list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let tracking of trackings">

      <ion-grid>
        <ion-row>
          <ion-col>
            Number :
            <ion-label>
              {{ tracking.number }}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button title="Edit" [routerLink]="['/tracking', tracking.id ]">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>

      <ion-button color="danger" title="Delete" (click)="askForDelete(tracking.id,tracking.number)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-list>

</ion-content>